<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500;1,700;1,900&display=swap" rel="stylesheet"
    />

    <!-- OG TAG -->
    <meta property="og:title" content="JOANNEの世界" />
    <meta
      property="og:description"
      content="Founder of “XXXD Official’’ & Graphic Designer"
    />
    <meta
      property="og:image"
      content="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week2/photo.png"
    />

    <title><%- title %></title>
    <link rel="stylesheet" href="./assets/style/all.css" />
  </head>

  <body>
    <%- contents %>

    <footer class="bg-black">
      <div class="container text-white text-center py-[64px]">
        <h2 class="text-5xl md:text-[64px] leading-[1.3125] mb-4">Contact</h2>
        <a
          class="block mb-4 md:text-2xl lg:hover-op300"
          href="mailto:xxxd@hexschool.com"
          >Mail：xxxd@hexschool.com</a
        >
        <a class="block md:text-2xl lg:hover-op300" href="tel:+886910123456"
          >Phone Number：0910123456</a
        >
      </div>
    </footer>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>
</html>
